# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Logs
data/logs/*.jsonl

# ML generated artifacts
ml/*.pkl
ml/*.h5
ml/attacker_dataset.csv

# Local analysis files
codedump.txt
structure.txt

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db